*{
	margin:0;
	padding: 0;
}


h1 , li{
	color: white;
}


body{
	overflow-x: hidden;
	overflow-y: auto;
	animation: 1s drive;
}


@keyframes drive{

   from{
      opacity: 0;
   }

   to{
       opacity: 1;
 
   }


}


.clock{
	text-align: center;

	width: 20%;
	margin:0 auto;
}

#header{
	width: 100%;
	background-color: black;
	padding: 1rem;
}

ul li{
	list-style-type: none;
	display: inline;
    padding: 0.5rem;
    font-size: 1.3rem;

}

ul li:hover{
	background-color: white;
	color: black;
	cursor: pointer;

}

.ul{


	float: right;
	margin-top: -2.3rem;
	margin-right: 2rem;
	width: 36%;
	text-align: right;
	display: block;
}

.label{

	color: white;
	cursor: pointer;
	float: right;
	margin-top: -3.0rem;
	margin-right: 2rem;

	z-index: 1;
   display: none;
   font-size: 2rem;

}

#trend h1{
	color: black;

	margin-top: 6rem;
    text-align: center;
    font-size: 3rem;
}

#create{

	text-align: center;
	margin-top: 2rem;
	font-size: 1.45rem;
}


#wallclock{

	margin-top: 3%;

}

#pic{

	width: 25%;
	margin: 0 37.5%;

}



.wall_items{

   width: 80%;
   margin: 2% auto;
}

.wa{
	color: black;
	text-align: center;
}

footer{
	background-color: black;
	color: white;
	padding: 1rem;
	text-align: center;
}

#menu_nav{

	width: 100%;
	height: 15rem;
	background-color: white;

	z-index: 1;
	display: none;
    animation: 1s drive;
}

#menu_nav ul li{
	display: block;
	padding: 2%;
	font-size: 1.7rem;
	color: black;
	text-align: center;
	border:0.2rem solid black;


}

#menu_nav ul li : hover{
	
	background-color: black;
    color:white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

     html{
 	font-size: 11px;
 }
 
  .clock{
  	width: 30%;
  }
    .label{
    	display: block;
    }



     .ul{
     	display: none;
     }

     footer h2{
	   font-size: 16px;
    }



} 


@media only screen and (min-width: 600px) {

     html{
 	font-size: 12px;
 }


    footer h2{
	   font-size: 19px;
    }




}
  



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    html{
 	font-size: 13px;
 }

 
    footer h2{
	   font-size: 20px;
    }



}
  


 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

   html{
 	font-size: 14px;
 }

  
   footer h2{
	   font-size: 21px;
    }


}
  

/* Extra large devices (large laptops and desktops, 1200px and up) */


@media only screen and (min-width: 1200px) {

 html{
 	font-size: 15px;
 }

   footer h2{
	   font-size: 22px;
    }

 

}














